.vscode/

# Frontend
node_modules/
dist/
dist-ssr/
*.log

# Django 
__pycache__
*.pyc
*.pyo
*.sqlite
*.sqlite3
*.sqlite3-journal
venv/
.env
staticfiles/
seed*
management/
.serverless/

# Extras
Extras/
repomix-output.xml
.DS_Store
.codex
.sixth/
.bg-shell/
.cursor/
