DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost:8000,127.0.0.1:8000
DATABASE_URL=postgresql://user:password@host:port/dbname
CORS_ALLOWED_ORIGINS=http://localhost:3000
DATABASE_CONN_MAX_AGE=any-value-for-connection-pooling(e.g., 600 )
GOOGLE_CLIENT_ID=your-google-client-id-here for OAuth
GOOGLE_CLIENT_SECRET=your-google-client-secret-here for OAuth
FRONTEND_URL=http://localhost:3000
GOOGLE_REDIRECT_URI=http://localhost:8000/accounts/google/login/callback/
LIVEKIT_API_KEY=livekit-api-key-here
LIVEKIT_API_SECRET=livekit-api-secret-here